

html {
	text-align: justify;
}

header {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 100px;
	background-color: gray;
}
div {
	margin-left: 15px;
}
.box1 {
	width: 600px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 400px;
	float: left;
	margin: 15px 15px 15px 0px;
	background-color: gray;
}
.box2 {
	width: 600px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 400px;
	float: left;
	margin: 15px 0px 15px 15px;
	background-color: gray;
}

.threeboxes {
	width: 375px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 400px;
	float: left;
	background-color: gray;
	clear: float;
	margin-bottom: 15px;
}
footer {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 100px;
	clear: both;
	background-color: gray;
}