

html {
	box-sizing: border-box;
}

header {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 100px;
	background-color: gray;
}
div {
	display: flex;
	justify-content: space-between;
}
.box1 {
	width: 655px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 400px;
	float: left;
	margin: 15px 15px 15px 0px;
	background-color: gray;
}
.box2 {
	width: 655px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 400px;
	float: left;
	background-color: gray;
	margin-top: 15px;
}

.threeboxes {
	width: 400px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 400px;
	float: left;
	background-color: gray;
	clear: float;
	margin-bottom: 15px;
}
footer {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 100px;
	clear: both;
	background-color: gray;
}