

body {
	width: 100%;
}
div {
	display: inline-block;
	margin-right: 0px;
}
header {
	width: 300px;
	height: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
	margin-right: 75px;
	float: left;
}
nav {
	width: 175px;
	height: 75px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
	float: left;
	margin-right: 15px;
	margin-top: 30px;
}
aside {
	width: 200px;
	height: 640px;
	float: left;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
	margin: 15px 15px 15px 0px;
	
}
.main1 {
	width: 1020px;
	height: 125px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
	margin-top: 15px;
	margin-bottom: 15px;
	clear: both;
}	
.main2 {
	width: 600px;
	height: 275px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
	clear: both;
}
.main3 {
	width: 300px;
	height: 275px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
	margin-left: 30px;
	clear: both;
}
.littles {
	width: 220px;
	height: 200px;
	margin: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
}
#lefty {
	display: flex;
}
#righty {
	margin-right: auto;
}
.container {
	display: flex;
	justify-content: space-between;
}
footer {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 100px;
	clear: both;
	background-color: gray;
}