header {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 150px;
	background-color: gray;
	margin-bottom: 15px;
}
.container {
	display: flex;
	justify-content: space-between;
}
.left {
	width: 250px;
	height: 300px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
	float: left;
	margin-right: 15px;
	display: inline-block;
	box-sizing: border-box;
}
.middle {
	width: 710px;
	height: 300px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
	float: center;
	display: inline-block;
	box-sizing: border-box;
}
.right {
	width: 250px;
	height: 300px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
	float: right;
	margin-left: 15px;
	display: inline-block;
	box-sizing: border-box;
}
footer {
	width: 100%;
	margin-top: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 150px;
	clear: both;
	float: left;
	background-color: gray;
}