header {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 100px;
	background-color: gray;
}
section {
  	float: left;
  	width: 250px;
  	height: 430px;
  	margin: 15px;
  	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: gray;
}
#middle {
	width: 600px;
	float: right;
}
footer {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	height: 100px;
	clear: both;
	margin-top: 15px;
	background-color: gray;
}